.thin {
  font-weight: 200
}

.card-container {
  margin-top: 30px;
}

.rounded-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white !important
}

.rounded-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #f2f2f2;
  cursor: pointer;
}

.skill-label {
  margin: 5px;
  display:inline-block;
}

.clampMe {
  position: relative;
  height: 3.5em; 
  overflow: hidden;
}

.clampMe:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

.small-head, .body-text {
  font-weight: 300;
}

.body-text {
  margin-top: 30px;
}